    * {
    font-family: montserrat;
    padding: 0px;
    margin: 0px;
    }

    .bg-image {
    position: relative;
    background-image: url('./img/17973908.jpg');
    background-size: cover;      /* Resize the background image to cover the entire container */
    background-position: center; /* Center the background image */
    }


  /* Navbar Styles */
    .navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    }
    .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;  /* Make the navbar take the full width */
    }
    .navbar-nav a {
    font-size: 20px;
    font-weight: 500;
    }
    .navbar-dark .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
    }
    .navbar-dark .navbar-brand span {
    color: #005c89;
    }
    .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link:active {
    color: #005c89;
    }
    .nav-link-text {
        transition: border-bottom 0.1s linear;
    }
    .nav-link:hover .nav-link-text {
        border-bottom: 3px solid #000; /* Change color as needed */
    }

    /* Navbar Menu Toggle */
    .navbar-toggler {
        border: none;
        background: none;
    }
    
    .navbar-toggler .line {
        fill: none;
        stroke: #000;
        stroke-width: 4;
        stroke-linecap: round;
    }

    .navbar-toggler .lineg {
        fill: none;
        stroke: #00abff;
        stroke-width: 4;
        stroke-linecap: round;
    }
    
    .navbar-toggler .line1 { transition: transform 0.5s ease-in-out; }
    .navbar-toggler .line2 { transition: opacity 0.5s ease-in-out; }
    .navbar-toggler .line3 { transition: transform 0.5s ease-in-out; }
    
    .navbar-toggler.opened .line1 { transform: rotate(45deg) translate(7px, -7px); }
    .navbar-toggler.opened .line2 { opacity: 0; }
    .navbar-toggler.opened .line3 { transform: rotate(-45deg) translate(-14px, -1px); }

    /* button styles */
    .my-btn {
        transition: box-shadow 0.3s ease-in-out;
    }
    .my-btn:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
    }
    

/* Text Gradient Rotation */

@keyframes colorCycle {
    0% {color: black;}
    20% {color: #002537;}
    40% {color: #005c89;}
    75% {color: #0082c2}
    100% {color: #00abff;}
    100% {color: #0082c2}
    100% {color: #005c89}
    100% {color: #002537}
    100% {color: black}
}

.word {
    animation-name: colorCycle;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

#word2 {
    animation-delay: 2.5s;
}

#word3 {
    animation-delay: 5s;
}