    * {
    font-family: montserrat;
    padding: 0px;
    margin: 0px;
    }

    .bg-image {
    position: relative;
    background-image: url('./img/17973908.jpg');
    background-size: cover;      /* Resize the background image to cover the entire container */
    background-position: center; /* Center the background image */
    }


  /* Navbar Styles */
    .navbar {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2), 0 3px 10px 0 rgba(0,0,0,0.19);
    }
    .navbar-nav {
    display: flex;
    justify-content: space-evenly;
    width: 100%;  /* Make the navbar take the full width */
    }
    .navbar-nav a {
    font-size: 20px;
    font-weight: 500;
    }
    .navbar-dark .navbar-brand {
    color: #fff;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 2px;
    }
    .navbar-dark .navbar-brand span {
    color: #005c89;
    }
    .navbar-dark .navbar-brand:focus, .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-nav .nav-link:active {
    color: #005c89;
    }
    .nav-link-text {
        transition: border-bottom 0.1s linear;
    }
    .nav-link:hover .nav-link-text {
        border-bottom: 3px solid #000; /* Change color as needed */
    }

/* Navbar Menu Toggle */
    .navbar-toggler {
        border: none;
        background: none;
    }
    
    .navbar-toggler .line {
        fill: none;
        stroke: #000;
        stroke-width: 4;
        stroke-linecap: round;
    }

    .navbar-toggler .lineg {
        fill: none;
        stroke: #00abff;
        stroke-width: 4;
        stroke-linecap: round;
    }
    
    .navbar-toggler .line1 { transition: transform 0.5s ease-in-out; }
    .navbar-toggler .line2 { transition: opacity 0.5s ease-in-out; }
    .navbar-toggler .line3 { transition: transform 0.5s ease-in-out; }
    
    .navbar-toggler.opened .line1 { transform: rotate(45deg) translate(7px, -7px); }
    .navbar-toggler.opened .line2 { opacity: 0; }
    .navbar-toggler.opened .line3 { transform: rotate(-45deg) translate(-14px, -1px); }

/* button styles */
    .my-btn {
        transition: box-shadow 0.3s ease-in-out;
        }
    .my-btn:hover {
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
        }
    .custom-btn {
        width: 130px;
        height: 40px;
        padding: 10px 25px;
        border: 2px solid #000;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: #fff;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        }

    .btn-3 {
        line-height: 39px;
        padding: 0;
        }
    .btn-3:hover{
        background: #fff;
        color: #000;
        }
    .btn-3 span {
        position: relative;
        display: block;
        width: 100%;
        height: 100%;
        }
    .btn-3:before,
    .btn-3:after {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background: #000;
        transition: all 0.3s ease;
        }
    .btn-3:before {
        height: 0%;
        width: 2px;
        }
    .btn-3:after {
        width: 0%;
        height: 2px;
        }
    .btn-3:hover:before {
        height: 100%;
        }
    .btn-3:hover:after {
        width: 100%;
        }
    .btn-3 span:before,
    .btn-3 span:after {
        position: absolute;
        content: "";
        right: 0;
        bottom: 0;
        background: #000;
        transition: all 0.3s ease;
        }
    .btn-3 span:before {
        width: 2px;
        height: 0%;
        }
    .btn-3 span:after {
        width: 0%;
        height: 2px;
        }
    .btn-3 span:hover:before {
        height: 100%;
        }
    .btn-3 span:hover:after {
        width: 100%;
        }

    .btn-5 {
        background: #000;
        color: #fff;
        line-height: 42px;
        padding: 0;
        border: none;
        }
    .btn-5:hover {
        background: transparent;
        color: #000;
        box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
        }
    .btn-5:before,
    .btn-5:after{
        content:'';
        position:absolute;
        top:0;
        right:0;
        height:2px;
        width:0;
        background: #000;
        transition:400ms ease all;
        }
    .btn-5:after{
        right:inherit;
        top:inherit;
        left:0;
        bottom:0;
        }
    .btn-5:hover:before,
    .btn-5:hover:after{
        width:100%;
        transition:800ms ease all;
        }


/* Carousel Styles */
    .carousel-accordion {
        display: flex;
        height: 65vh;
        background-size: cover; /* or contain, or 100%, or auto, or a specific size */
        background-position: center;
        transition: width 0.5s ease-in-out, background-image 0.5s ease-in-out;
    }
    .carousel-accordion .item {
        width: 33.33%;
        height: 65vh;
        background-size: cover;
        transition: width 0.5s ease-in-out, background-image 0.5s ease-in-out;
        position: relative;
        border-right: 1px solid white; /* adjust as needed */
    }
    .carousel-accordion .item:last-child {
        border-right: none;
    }
    .carousel-accordion .item:hover {
        width: 50%;
    }
    .carousel-accordion .item .overlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.7); /* lighter grey film */
    }
    .carousel-accordion .item:hover .overlay {
        background-color: rgba(0, 0, 0, 0.95); /* darker grey film */
    }
    .carousel-accordion .item .content {
        position: absolute;
        max-width: 500px;
        top: 0; bottom: 0; left: 0; right: 0;
        color: white; /* ensures text stays white */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    .about-us {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(to bottom right, lightblue, #002537);
      }
      
      .about-us-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 70%; /* adjust as needed */
        color: white; /* ensures text stays white */
      }
      
      .about-us-title, .about-us-text {
        width: 45%; /* adjust as needed */
      }
      
      .about-us-title h2 {
        margin-bottom: 1em;
      }


      /* ------------------------------------ */
/* Only target elements within the unique button container */
#unique-button-container {
    /* This is the equivalent of the "body" styles in the original SCSS */
    font-family: 'Mukta', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f8fa;
  }
  
  #unique-button-container button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }

/* ----------------------------------------------------------- */
body * {
    box-sizing: border-box;
  }
  
  body *::before, body *::after {
    box-sizing: border-box;
  }
  
  button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
  }
  
  button.learn-more {
    width: 12rem;
  }
  
  button.learn-more .circle {
    transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    position: relative;
    display: block;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: #282936;
    border-radius: 1.625rem;
  }
  
  button.learn-more .circle .icon {
    transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: transparent;
  }
  
  button.learn-more .circle .icon.arrow {
    transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
  }
  
  button.learn-more .circle .icon.arrow::before {
    position: absolute;
    content: '';
    top: -0.25rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid #fff;
    border-right: 0.125rem solid #fff;
    transform: rotate(45deg);
  }
  
  button.learn-more .button-text {
    transition: all 0.45s cubic-bezier(0.65,0,.076,1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0.75rem 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
    text-transform: uppercase;
  }
  
  button.learn-more:hover .circle {
    width: 100%;
  }
  
  button.learn-more:hover .circle .icon.arrow {
    background: transparent;
    transform: translate(1rem, 0);
  }
  
  button.learn-more:hover .button-text {
    color: #fff;
  }
  
/* ----------------------------------------------------------- */
      

/* Text Gradient Rotation */

@keyframes colorCycle {
    0% {color: black;}
    20% {color: #002537;}
    40% {color: #005c89;}
    75% {color: #0082c2}
    100% {color: #00abff;}
    100% {color: #0082c2}
    100% {color: #005c89}
    100% {color: #002537}
    100% {color: black}
}

.word {
    animation-name: colorCycle;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

#word2 {
    animation-delay: 2.5s;
}

#word3 {
    animation-delay: 5s;
}

@media (max-width: 768px) {
    .about-us-content {
      display: flex;
      flex-direction: column;
      align-items: center; 
      justify-content: space-around; 
    }
  
    .about-us-title {
      order: 1; /* This moves the title to the top */
      width: 90%; 
    }
  
    .about-us-text {
      order: 2; /* This moves the text to the middle */
      width: 90%; 
    }
  
    #container {
      order: 3; /* This moves the button to the bottom */
      margin-top: 20px; 
    }
  
    .lead {
      font-size: 14px; 
    }
  
    .learn-more .circle {
      width: 100%;
    }
  
    .learn-more .icon.arrow {
      transform: translate(1rem, 0);
      background: white;
    }
  
    .learn-more .button-text {
      color: white;
    }
  }
  
  
  